$flex-breakpoints: (sm: 36rem, md: 48rem, lg: 62rem, xl: 75rem, xxl: 87.5rem) !default;
$flex-spacings: (0: 0, 1: 0.25rem, 2: 0.5rem, 3: 1rem, 4: 1.5rem, 5: 3rem) !default;

$flex-orders: (first: -1, 0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, last: 6);
$flex-justify: (start: start, end: end, center: center, around: space-around, between: space-between, evenly: space-evenly);
$flex-justify-self: (start: start, end: end, center: center, around: space-around, between: space-between, evenly: space-evenly);
$flex-align: start, end, center, baseline, stretch;
$flex-align-self: auto, start, end, center, baseline, stretch;
$flex-display: block, none;

.content-flex { --_fgx: 1.5rem; --_fgy: 1.5rem; --_fc: 12; --_fjs: auto; --_fas: auto;
  > .row {
    display: flex;
    flex-wrap: wrap;
    margin-block: calc(var(--_fgy) / -2);
    margin-inline: calc(var(--_fgx) / -2);
    justify-content: var(--_fjc, normal);
    align-items: var(--_fai, normal);
    --_ff: 0 0 auto;
    --_fos: 0;
    --_fo: 0;
  }
  > .row > * {
    flex: var(--_ff);
    order: var(--_fo);
    justify-self: var(--_fjs);
    align-self: var(--_fas);
    width: var(--_fw, calc(100% / 12 * var(--_fc)));
    max-width: 100%;
    margin-inline-start: calc(100% / 12 * var(--_fos));
    padding-block: calc(var(--_fgy) / 2);
    padding-inline: calc(var(--_fgx) / 2);
    box-sizing: border-box;
  }

  > .grid {
    display: grid;
    gap: var(--_fgy) var(--_fgx);
    grid-template-columns: repeat(12, 1fr);
    justify-content: var(--_fjc, normal);
    align-items: var(--_fai, normal);
    --_fro: auto;
    --_fr: auto;
    --_fos: auto;
  }
  > .grid > * {
    grid-column: var(--_fos) / span var(--_fc);
    grid-row: var(--_fro) / span var(--_fr);
    justify-self: var(--_fjs);
    align-self: var(--_fas);
  }

  > * > [class^="d-"], > * > [class*=" d-"] { display: var(--_fd, revert) !important; }
}

@mixin flex-generate($modifier: "") {
  .col#{$modifier} { --_ff: 1 0 0; --_fw: 100%; }
  .col#{$modifier}-auto { --_fw: auto; }
  @for $index from 1 through 12 {
    .col#{$modifier}-#{$index} { --_fc: #{$index}; --_fw: unset; }
    .row#{$modifier}-#{$index} { --_fr: #{$index}; }
  }
  @each $key, $value in $flex-spacings {
    .g#{$modifier}-#{$key} { --_fgx: #{$value}; --_fgy: #{$value}; }
    .gx#{$modifier}-#{$key} { --_fgx: #{$value}; }
    .gy#{$modifier}-#{$key} { --_fgy: #{$value}; }
  }
  .offset#{$modifier}-auto { --_fos: auto; }
  .row-offset#{$modifier}-auto { --_fro: auto; }
  @for $index from 1 through 12 {
    .offset#{$modifier}-#{$index} { --_fos: #{$index}; }
    .row-offset#{$modifier}-#{$index} { --_fro: #{$index}; }
  }
  @each $key, $value in $flex-orders {
    .order#{$modifier}-#{$key} { --_fo: #{$value}; }
  }
  @each $key, $value in $flex-justify {
    .justify-content#{$modifier}-#{$key} { --_fjc: #{$value}; }
  }
  @each $key, $value in $flex-justify-self {
    .justify-self#{$modifier}-#{$key} { --_fjs: #{$value}; }
  }
  @each $value in $flex-align {
    .align-items#{$modifier}-#{$value} { --_fai: #{$value}; }
  }
  @each $value in $flex-align-self {
    .align-self#{$modifier}-#{$value} { --_fas: #{$value}; }
  }
  @each $value in $flex-display {
    .d#{$modifier}-#{$value} { --_fd: #{$value}; }
  }
}

@include flex-generate();

@each $modifier, $breakpoint in $flex-breakpoints {
  @media (width >= #{$breakpoint}) {
    @include flex-generate("-" + $modifier);
  }
}
