{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% if wildcard ?? false %}
        <div class="tl_gray">
            <span class="upper">{{ wildcard|raw }}</span>
        </div>
    {% endif %}
    <div{{ attrs(container_attributes|default).addClass(containerClass) }}>
        {% for fragment in nested_fragments %}
            {{ content_element(fragment) }}
        {% endfor %}
    </div>
{% endblock %}
